#header #nav {
    flex-grow: 1;
    padding-left: 3rem;
    padding-right: 3rem;
}

#header #nav ul {
    justify-content: space-evenly;
}

#header #nav > ul > li:hover a {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}

ul.contact-information {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.contact-information li {
    font-size: 1.5rem;
}

ul.contact-information li:nth-of-type(n + 2) {
    margin-top: 1rem;
}

ul.contact-information li a {
    border: none;
    text-decoration: none;
}

ul.contact-information li a .icon-container {
    display: inline-block;
    text-align: center;

    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;

    border-radius: 100%;
    border: solid 2px;

    margin-right: 1.25rem;
}

ul.contact-information li a:hover .icon-container {
    background-color: #f54a6f;
    background-image: url(../../images/overlay.webp), linear-gradient(90deg, rgba(245, 74, 111, 0), #debf55 90%);
    background-size: auto, auto;
    background-repeat: repeat, no-repeat;

    color: #ffffff;
}

ul.contact-information li a .text {
}

.impressum-container {
    margin-bottom: 1.25rem;
}

.restaurant-name {
    font-style: italic;
}

#logo {
    max-height: 35vh;
    max-width: 55vh;
}
